body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*-----------------Egen CSS------------------------*/
/*Justera Movie bilden under slider*/
.column{
    padding-top:22px;
}
/*Justera storlek på varje Movie bilden*/
#col-img {
    width: 100%;    
}
/*Justera Nagiveringsbar*/
.underNav {
    font-size: 24px;
    padding: 12px 0px 12px;
}
/*Justera film titel*/
.Movietitle {
    height: 48px;
    width: fit-content();
    font-size: 1.2em;
    font-weight: bold;
}
/*Sklijer linjen*/
hr.solid {
    border-top: 3px solid #bbb;
}
/*Ändra höjden på Slider bilden*/
.carousel-inner {
    height:520px;
}
/*Justera Cart Icon */
cart{
    float:right;  
    margin-top:6px;
}
/*Flytta meddelande texten till mitten*/
.MSG{
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    padding:45px;
}
/*Ändra bred&Höjd på meddelande titel*/
.Title{
    min-height:800px;
}
/*Justera storlek på TotaltPris*/
.Price{
    padding:14px;
    font-size:34px;
}
/*Justera Antal film*/
.amount {
    position:absolute;
    color:white;
    margin:8px -10px;
    font-size:20px;
}
.form-check:hover{
    background-color:whitesmoke;    
}
.form-check-label{
    padding:18px;
    font-size:18px;
    width:100%;
}
.form-check-input{
    min-width:100px;
}
.dropdown-toggle {
    font-weight: 300;
    font-size: 22px;
}
.custom-select{
    padding:6px;
    font-size:22px;
    width:100%;
    border-radius:12px;
}.btn1{
     width:35%;
 }