body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.column{
    padding-top:22px;
}
#col-img {
    width: 100%;
    padding-top: 28px;
}

.underNav {
    font-size: 24px;
    padding: 12px 0px 12px;
}
.Mtitle {
    height: 48px;
    width: fit-content();
    font-size: 1.2em;
    font-weight: bold;
}
hr.solid {
    border-top: 3px solid #bbb;
}
.carousel-inner {
    height:500px;
}
