<div class="Seach input-group">
    @using (Html.BeginForm("Searching", "Home", FormMethod.Post, new { @style = "display:flex;" }))
    {
        @Html.TextBox("SearchString", null, new { @type = "text", @placeholder = "Sök bland över 18 000 filmer", @class = "form-control", @style = "margin-top:5px;" })
        <span class="input-group-btn" style="float:left;">
            <button type="submit" aria-label="search-button" class="btn btn-primary" style="margin-top:5px;">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    }
</div>